# Force git URLs to use HTTPS instead of SSH
git-protocol=https
registry=https://registry.npmjs.org/

# Disable SSH verification to avoid host key checks
strict-ssl=false

# Explicitly disable SSH
always-auth=false
@types:registry=https://registry.npmjs.org/

# Replace specific GitHub repository URLs with HTTPS
@dmarcos:registry=https://npm.pkg.github.com 