# Force git URLs to use HTTPS instead of SSH
git-protocol=https
always-auth=false
registry=https://registry.npmjs.org/
@types:registry=https://registry.npmjs.org/

# Explicitly disable SSH
strict-ssl=false

# Replace specific GitHub repository URLs with HTTPS
@dmarcos:registry=https://npm.pkg.github.com 