# Force git URLs to use HTTPS instead of SSH
--no-ssh-verify
git-protocol https
registry "https://registry.npmjs.org/"

# Explicitly override Git protocol
"@dmarcos:registry" "https://npm.pkg.github.com"

# Fix for three-bmfont-text
"three-bmfont-text" "https://registry.npmjs.org/three-bmfont-text/-/three-bmfont-text-2.4.0.tgz" 